@import url("reset.css");

body{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: #dedee0;
    
}
section{
    width: 100%;
    padding: auto 40%;
    margin: 20px 15px;
    padding: 5% 3%;
    border: 1px solid black;
    border-radius: 10%;
    background-color: #ffffff;
}
.bar__menu{
    display: flex;
    justify-content: space-between;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header:nth-child(2){
    font-size: 30px;
    font-weight: 600;
    margin: auto;
    padding: 0 20px;
    padding-bottom: 10px;
}
header :nth-child(3){
    font-size: 20px;
    font-weight: 400;
    padding: 15px 20px;
}
header img{
    width: 50%;
    height: 60%;
    border-radius: 40%;
    margin: 40px auto;
}
.header__img{
    width: 90%;
    height: 100%;
    border-radius: 15%;
    margin: 40px auto;
}
.btns{
    display: flex;
    width: 100%;
    justify-content: center;    
}
.btn{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.btn div:first-child, .btn div:nth-child(2){
    padding: 10px 20px;
    border-radius: 15px;
}
.btn div:first-child{
    color: white;
    background-color: grey;
    border: 1px solid grey;
}
.btn div:nth-child(2){
    
}
.lists{
    margin: 15px auto;
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;

}
.info__music{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8% 5%;
    line-height: 145%;
}
.info__music p:first-child{
    text-align: center;
    font-size: 15px;
}
.info__music p:nth-child(2){
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.list img{
    width: 20%;
    height: 25%;
    border-radius: 20px;
}
.btn__play{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btns__play{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7%;
    padding: 1% 3%;
    border: 1px solid black;
    border-radius: 30px;
    padding: 5% auto;
}
.btns__name{
    text-align: center;
}
.btns__name h6{
    font-size: 15px;
}
.btns__name h5{
    font-size: 20px;
    font-weight: 600;
    margin: 2% auto;
}