@import url("reset.css");
:root {
    --var-btn-color: #131212;
    --var-light-color: rgb(0,0,0,.6);
    --var-box-shadow: 0 14px 28px rgba(0,0,0,0.20), 0 10px 10px rgba(0,0,0,0.20);
}
html{
    font-size: 20px;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: #dedee0;
    
}
section{
    width: 100%;
    padding: auto 40%;
    margin: 20px 15px;
    padding: 5% 3%;
    border: 1px solid black;
    border-radius: 10%;
    background-color: #ffffff;
}
.bar__menu{
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header:nth-child(2){
    font-size: 2rem;
    font-weight: 600;
    margin: auto;
    padding: 0 20px;
    padding-bottom: 10px;
}
header :nth-child(3){
    font-size: 1rem;
    font-weight: 400;
    padding: 15px 20px;
    color: var(--var-light-color);
}
header img{
    width: 50%;
    height: 60%;
    border-radius: 40%;
    margin: 40px auto;
    box-shadow: var(--var-box-shadow);
}
.header__img{
    width: 90%;
    height: 100%;
    border-radius: 15%;
    margin: 40px auto;
    margin-bottom: 15%;
}
.btns{
    display: flex;
    width: 100%;
    justify-content: center;    
}
.btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 50%;
}
.btn div:first-child, .btn div:nth-child(2){
    padding: 10px 20px;
    border-radius: 15px;
    width: 30%;
}
.btn div:first-child{
    text-align: center;
    color: white;
    background-color: var(--var-btn-color);
    border: 1px solid var(--var-btn-color);
}
.btn div:nth-child(2){
    text-align: center;
    box-shadow: var(--var-box-shadow);
}
.lists{
    margin: 15px auto;
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;

}
.info__music{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8% 5%;
    line-height: 145%;
}
.info__music p:first-child{
    text-align: center;
    font-size: 1rem;
    color: var(--var-light-color);
}
.info__music p:nth-child(2){
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
}
.list img{
    width: 20%;
    height: 25%;
    border-radius: 20px;
}
.btn__play{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
}
.play{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btns__play{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7%;
    border: 1px solid black;
    border-radius: 50px;
    padding: 4% 3%;
    margin-top: 10%;
    background-color: var(--var-btn-color);
    box-shadow: var(--var-box-shadow);
}
.btns__name{
    text-align: center;
    color: whitesmoke;
}
.btns__name h6{
    font-size: .8rem;
    color: grey;
}
.btns__name h5{
    font-size: 20px;
    font-weight: 600;
    margin: 2% auto;
}
input[type=range]::-webkit-slider-runnable-track{
    background:transparent; 
}
input[type=range]::-webkit-slider-thumb{
    background-color: var(--var-btn-color);
}
.play__bar{
    margin-top: 35%;
    margin-bottom: 25%;
}
.play__time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--var-light-color);
}
.play__icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    margin-bottom: 35%;
    color: var(--var-light-color);
}
.play__icons div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.play__btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}
.play__btn:nth-child(2){
    margin: auto 15%;
    color: var(--var-btn-color);
}
.play__btn:nth-child(2) i:nth-child(2){
    box-shadow: var(--var-box-shadow);
    border-radius: 40px;
    border: none;
}

section input{
    width: 100%;
}